.map-section{
     width: 700px ;
     margin-left: auto ;
     margin-right: auto ;
}
.map-section h2{
     width: 700px ;
     margin-left: auto ;
     margin-right: auto ;
     text-align: center;
}